In [1]:
l = [1,2,3,4,'sudh','kumar','45.56']

In [2]:
for i in l :
  if i == 4 :
    break  #Break means it will come out of the loop. Hence Else will not be printed
  print(i)
else :
  print('This will only execute only if for is going to complete itself')

1
2
3

In [3]:
s = 'sudhanshu'
for i in s :
  if i == 'n':
    break
  print(i)
else:
  print("print string", s)

s
u
d
h
a

In [4]:
s = 'sudhanshu'
for i in s :
  if i == 'z':
    break
  print(i)
else:
  print("print string", s)

s
u
d
h
a
n
s
h
u
print string sudhanshu

In [5]:
t = (4,5,6,7,8,9,"sudh") #Tuple
for i in t:
  print(i)

4
5
6
7
8
9
sudh

In [6]:
b = {4,5,6,7,7,7,7,7,7,7,7,8,"sudh"}
type(b)

set

In [7]:
for i in b:
  print(i)

4
5
6
7
8
sudh

In [8]:
d = {'key1':'sudh','contact':'sudhanshu@ineuron.ai','position':"xyz"}
for i in d :   #Dictionary
  print(i)  #Keys are getting printed

key1
contact
position

In [9]:
for i in d :
  print(d[i])  #Values will get printed

sudh
sudhanshu@ineuron.ai
xyz

In [10]:
for i in d :
  print(i, ":", d[i])  #Values will get printed

key1 : sudh
contact : sudhanshu@ineuron.ai
position : xyz

In [11]:
range(9)  #Generator: Generate dataset 0 to 8 (Output is object)

range(0, 9)

In [14]:
list(range(9))

[0, 1, 2, 3, 4, 5, 6, 7, 8]

In [15]:
for i in range(9):
  print(i)

0
1
2
3
4
5
6
7
8

In [19]:
list(range(2,7)) #By default step size is 1

[2, 3, 4, 5, 6]

In [20]:
list(range(2,7,2))

[2, 4, 6]

In [22]:
list(range(0,9,-1)) #Conflict

[]

In [23]:
n = 4
for i in range(4):
  for j in range(0,i+1):
    print("sudh", end = " ")
  print("\n")

sudh

sudh sudh

sudh sudh sudh

sudh sudh sudh sudh

In [25]:
print("Print equilateral triangle Pyramid using txt  ")
# printing full Triangle pyramid using stars
size = 3
m = (2 * size) - 2
for i in range(0, size):
    for j in range(0, m):
        print(end=" ")
    # decrementing m after each loop
    m = m - 1
    for j in range(0, i + 1):
        print("sudh ", end=' ')
    print(" ")

Print equilateral triangle Pyramid using txt
    sudh
   sudh  sudh
  sudh  sudh  sudh

In [26]:
t = (3,23,45,67,2,4,5,6)
for i in t:
  print(t.index(i), ":", i)
  print("\n")

0 : 3


1 : 23


2 : 45


3 : 67


4 : 2


5 : 4


6 : 5


7 : 6

In [29]:
#Another way of doing the above
for i in range(len(t)):
  print(i,t[i])

0 3
1 23
2 45
3 67
4 2
5 4
6 5
7 6

In [30]:
s = "ineuron"
for i in range(len(s)):
  print(i,s[i])

0 i
1 n
2 e
3 u
4 r
5 o
6 n

In [31]:
#Suppose we want reverse of above
for i in range(len(s)-1,-1,-1):
  print(i,s[i])

6 n
5 o
4 r
3 u
2 e
1 n
0 i

In [36]:
#Get dictionary keys and values in form of tuples
d
for i in d.items():
  print(i,type(i),type(i[1]))

('key1', 'sudh') <class 'tuple'> <class 'str'>
('contact', 'sudhanshu@ineuron.ai') <class 'tuple'> <class 'str'>
('position', 'xyz') <class 'tuple'> <class 'str'>

In [38]:
l = ['sudh','kumar',323456,'sudhanshu@ineuron@ai',345,3453243]
l1 = []
for i in l:
  if type(i) == int:
    l1.append(i)

In [39]:
l1

[323456, 345, 3453243]

In [41]:
d = {1: 34354, "name" : "sudh", "emailid": "sudhanshu@ineuron.ai",234:'dsafsa'}
for i in d:
  if type(i) == int:
   print(i,':',d[i])

1 : 34354
234 : dsafsa

In [43]:
s = "aaaabbccd" #I want output as a : 4, b:2, c:2, d:1
for i in set(s):  #Set gives us unique elements
  print(i,":",s.count(i))

d : 1
a : 4
c : 2
b : 2

In [42]:
s = "aaaabbccd" 
s.count('a')

4

In [47]:
i = 3454645361436534
i1 = str(i)

for T in i1: 
  print(T)

3
4
5
4
6
4
5
3
6
1
4
3
6
5
3
4

In [54]:
#Print where we get 3 
t = ('sudh','kumar',3,[1,2,3,4,5,6],(3,4,5,6,7),{3:"sudh","key2":"kumar"})
for i in t:
  if type(i) == list or type(i) == tuple or type(i) == dict:
    for j in i:
      if j == 3:
        print(j)

3
3
3

In [57]:
#Print where we get 3 
t = ('sudh','kumar',3,[1,2,3,4,5,6],(3,4,5,6,7),{3:3,"key2":"kumar"})
for i in t:
  if type(i) == list or type(i) == tuple :
    for j in i:
      if j == 3:
        print(j)
  if type(i) == dict :
    for k,v in i.items():
      if k ==3 or v == 3:
        print(k)
        print(v)

3
3
3
3